<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.secondnick.imfrustrated-expansion</string>
  <key>ProgramArguments</key><array>
    <string>/bin/bash</string><string>-c</string>
    <string>echo "[$(date)] expansion start"; export IMFRUSTRATED_EXPANSION_REPO="$HOME/second-nick/worktrees/imfrustrated-expansion"; cd "$IMFRUSTRATED_EXPANSION_REPO" &amp;&amp; scripts/expansion-run-cron.sh 4 6; echo "[$(date)] expansion exit $?"</string>
  </array>
  <key>EnvironmentVariables</key><dict><key>PATH</key><string>/Users/bignick/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string></dict>
  <key>WorkingDirectory</key><string>/Users/bignick/second-nick/worktrees/imfrustrated-expansion</string>
  <key>StartCalendarInterval</key><dict><key>Day</key><integer>12</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>30</integer></dict>
  <key>StandardOutPath</key><string>/Users/bignick/second-nick/logs/imfrustrated-expansion.log</string>
  <key>StandardErrorPath</key><string>/Users/bignick/second-nick/logs/imfrustrated-expansion.err</string>
  <key>RunAtLoad</key><false/>
</dict></plist>
